h3 {
	margin-left: 10px
}

.jira-credentials-container {
	/*display: inline-block;*/
	width: 420px;
	margin-left: 10px;
}

.jira-credentials-header {
	margin-bottom: 10px;
}
.credentials-container {
	position:relative;
	width: 420px;
	height: 163px;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 5px 5px 3px #888888;
	background-color: white;	
}

.credentials-settings-header {
	width: 400px;
	margin-bottom: 25px;
	padding-right: 5px;
}

.credentials-settings-header span {
	display: inline;
	float: right;
}

.jira-credentials-edit label {
	width: 80px;
	text-align: right;
	margin-right: 5px;
	margin-left: 5px;
}

.jira-credentials-edit input {
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.jira-credentials-edit .input-group {
	margin-top: 3px;
}

.submit-jira-credentials {
	margin-top: 10px;
	margin-right: 5px;
	float: right;
}